.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.about-logo {
  text-decoration: none;
}
.about-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-nav12 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.about-nav22 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav32 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav42 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav52 {
  margin-left: 0px;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}
.about-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login {
  margin-right: 32px;
}
.about-burger-menu {
  display: none;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.about-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-header1 {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.about-logo2 {
  text-decoration: none;
}
.about-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-links2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-nav122 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.about-nav222 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav322 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav422 {
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.about-nav521 {
  margin-left: 0px;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}
.about-buttons2 {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login2 {
  margin-right: 32px;
}
.about-burger-menu1 {
  display: none;
}
.about-icon10 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.about-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon12 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-links3 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-nav123 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav223 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav323 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav423 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-nav522 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-buttons3 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-banner-heading {
  text-align: center;
}
.about-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.about-nav224 {
  margin-left: var(--dl-space-space-unit);
}
.about-nav324 {
  margin-left: var(--dl-space-space-unit);
}
.about-nav424 {
  margin-left: var(--dl-space-space-unit);
}
.about-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.about-icon22 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.about-icon24 {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .about-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .about-nav123 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav223 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav323 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav423 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-nav522 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .about-navbar-interactive {
    height: 99px;
    padding: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    display: flex;
  }
  .about-mobile-menu1 {
    padding: 16px;
  }
  .about-navbar-interactive1 {
    height: 99px;
    padding: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .about-desktop-menu1 {
    display: none;
  }
  .about-burger-menu1 {
    display: flex;
  }
  .about-mobile-menu11 {
    padding: 16px;
  }
  .about-buttons3 {
    display: none;
  }
  .about-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .about-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
