.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.about-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-hero-heading {
  max-width: 800px;
  text-align: center;
}
.about-banner {
  background-color: var(--dl-color-custom-accent1);
}
.about-container2 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-banner-heading {
  text-align: center;
}
.about-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.about-tick {
  line-height: 150%;
}
.about-tick01 {
  line-height: 150%;
}
.about-tick02 {
  line-height: 150%;
}
.about-tick03 {
  line-height: 150%;
}
.about-tick04 {
  line-height: 150%;
}
.about-tick05 {
  line-height: 150%;
}
.about-tick06 {
  line-height: 150%;
}
.about-tick07 {
  line-height: 150%;
}
.about-tick08 {
  line-height: 150%;
}
.about-tick09 {
  line-height: 150%;
}
.about-tick10 {
  line-height: 150%;
}
.about-tick11 {
  line-height: 150%;
}
.about-tick12 {
  line-height: 150%;
}
@media(max-width: 991px) {
  .about-hero1 {
    flex-direction: column;
  }
  .about-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .about-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .about-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-banner-heading {
    display: none;
  }
}
